@{
    ViewData["Title"] = "Add A Task";
}

@model TaskItem

<h1>@ViewData["Title"]</h1>


<form method="post">
    <input asp-for="TaskId" type="hidden">

    <label asp-for="Task">Task</label>
    <input asp-for="Task" />
    <br />

    <label asp-for="DueDate">Due Date</label>
    <input asp-for="DueDate" type="date" />
    <br />

    <label asp-for="Quadrant">Quadrant</label>
    <select asp-for="Quadrant">
        <option value="1">Quadrant 1 - Important/Urgent</option>
        <option value="2">Quadrant 2 - Important/Not Urgent</option>
        <option value="3">Quadrant 3 - Not Important/Urgent</option>
        <option value="4">Quadrant 4 - Not Important/Not Urgent</option>
    </select>
    <br />

    <label asp-for="CategoryId">Category</label>
    <select asp-for="CategoryId">
        <option value="">Select a Category</option>
        @foreach (Category m in ViewBag.Categories)
        {
            <option value="@m.CategoryId">@m.CategoryName</option>
        }
    </select>
    <br />

    <button type="submit">Submit</button>

</form>
